.skeleton-container {
    --skeleton-font-size: 1.5rem;
    --skeleton-line-height: 2.5;
    --skeleton-line-box-height: calc(var(--skeleton-font-size) * var(--skeleton-line-height));
    --skeleton-bar-height: 1.75rem;

    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 1rem;
}

.skeleton-line {
    position: relative;
    height: var(--skeleton-line-box-height);
}

.skeleton-line::before {
    content: '';
    position: absolute;
    inset: 50% 0 auto;
    height: var(--skeleton-bar-height);
    background-color: var(--color-border);
    border-radius: var(--radius-sm);
    transform: translateY(-50%);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
